@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 95%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 22 65% 57%;
    --primary-foreground: 210 40% 98%;

    --secondary: 21 94% 75%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --success: 123 81% 31%;
    --success-foreground: 210 40% 98%;

    --grey: 0 0% 95%;
    --light-grey: 0 0% 98%;

    --footer: 0 0% 6%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 8px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --success: 123 81% 31%;
    --success-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .h1 {
    @apply text-[56px] font-bold uppercase leading-[58px] tracking-[2px];
  }
  .h2 {
    @apply text-[40px] font-bold uppercase leading-[44px] tracking-[1.5px];
  }
  .h3 {
    @apply text-[32px] font-bold uppercase leading-[36px] tracking-[1.15px];
  }
  .h4 {
    @apply text-[28px] font-bold uppercase leading-[38px] tracking-[2px];
  }
  .h5 {
    @apply text-[24px] font-bold uppercase leading-[33px] tracking-[1.7px];
  }
  .h6 {
    @apply text-[18px] font-bold uppercase leading-[24px] tracking-[1.3px];
  }
  .text-overline {
    @apply text-sm uppercase leading-[19px] tracking-[10px] text-primary;
  }
  .subtitle {
    @apply text-[13px] font-bold uppercase leading-[25px] tracking-[1px] text-primary;
  }
  .text-body {
    @apply text-[15px] font-medium leading-[25px];
  }
}
